*.dot
*.tex
*.csv
*.data
*.chromo
*.pdf
*.log
*.dvi
*.aux
*.fun
*.pdf


averageBehaviour
createDataSet
customES
customFitnessFunction
customNodeFunction
customReproductionScheme
customSelectionScheme
gettingStarted
manipulatingChromosomes
multipleThreads
neuroEvolution
recurrentConnections
visualization


